* {
    color: #4b006e;
    margin: 0;
    padding: 0;
    font-family: Century;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition: all 0.5s;
    opacity: 100%;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#form{
    border-radius: 7% 7% 7% 7%;
    box-shadow: 0 7px 15px 0 rgb(0, 29, 133), 0 6px 35px 0 rgb(197, 0, 0);
    width: 15%;
    background-color: #ecffff;
    padding: 1em;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: calc(100% - 0.4em);
    margin-bottom: 1em;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 0.2em;
}

.bg {
    position: fixed;
    z-index: -1;
    background-image: url("back.png");
    width: 100vw;
    height: 100vh;

    filter: invert();

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 0%;
    
}

#login-button {
    background-color: #68d683;
    padding: 0.2em;
    text-align: center;
    transition: all 0.2s;
}

#login-button:hover {
    background-color: rgb(58, 174, 123);
}

#login-button:active {
    background-color: rgb(118, 255, 149);
}

#login-logo {
    background-color: #df8ab2;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
}

#exit-button {
    position: fixed;
    z-index: 1;
    width: 4em;
    top: 0.5em;
    right: 0.5em;
    background-color: rgb(255, 154, 66);
    padding: 0.4em;
    text-align: center;
    transition: all 0.2s;
}

#exit-button:hover {
    background-color: rgb(255, 114, 20);
}

#exit-button:active {
    background-color: rgb(200, 77, 0);
}

#main-container {
    width: 70vw;
    margin-left: 15vw;
    margin-right: 15vw;
    background-color: rgba(219, 255, 255, 0.44);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    aspect-ratio: 1/1;
}

#gallery-area {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}

.gallery-unit {
    width: 100%;
}

#upload-button {
    cursor: pointer;
    background-color: rgb(72, 233, 243);
    padding: 0.4em;
    margin: 1em;
}

#uploadButton {
    outline: none;
    border: none;
    border-radius: 0;
    background-color: rgb(179, 255, 126);
    padding: 0.4em;
}